<html>
<head>
    <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170658861-5',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
    <title>Progress</title>

    <link href="css\progress.css" rel="stylesheet">
    <link href="css\progress-timeline.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    <h1 class="focus">{{topic}}</h1>
    <div class="timeline">
        {{#each progress_data}}
        <div class="{{containerClass}}">        
            <div class="content">
                <h2>{{stepName}}</h2>
                <p>{{feelingData}}</p>
                {{#if (ifEquals finished)}}
                    <a href="/checkin/{{stepName}}/{{@index}}">
                    <button id=checkinButton>View</button>
                    </a>
                {{else}}
                    <a href="/checkin/{{stepName}}/{{@index}}">
                    <button id=checkinButton>Reflect</button>
                    </a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>

    {{#if versionb}}
    <div class="editBtnB">
        <a href="/stepsReflect">
            <button id="editB">Edit Steps</button>
        </a>
    </div>
    <h3 id="message">Feeling Flustered?</h3>
    <div class="affirmBtnB">
        <a href="/affirmations">
            <button id="affirm">Write Myself Self-Affirmations</button>
        </a>
    </div>
    <p id="submessage">Affirmations help improve performance and promote positivity</p>
    {{else}}
    <div class="editBtn">
        <a href="/stepsReflect">
            <button id="edit">Edit Steps</button>
        </a>
    </div>
    <div class="affirmBtn">
        <a href="/affirmations">
            <button id="affirm">Self-Affirmations</button>
        </a>
    </div>
    {{/if}}

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/progress.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114936723-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114936723-1');
</script>
</body>

</html>
